/* only make background color yellow to the home page */
@import url(https://fonts.cdnfonts.com/css/scope-one); /* scope one font for navbar*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Playfair+Display:ital,wght@0,400;1,500&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");

.Home {
  background-color: #e3eca4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

.navbar {
  display: flex;
  align-items: center;
  /* padding: 20px; */
}
nav {
  flex: 1;
  text-align: right;
}
nav .ul-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
nav .ul-menu li {
  display: inline-block;
  margin-right: 25px;
}

/* navbar links at the top */
nav .ul-menu li a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-family: "Scope One";
  font-weight: "bold";
}

nav .ul-menu li a:hover {
  color: #ff523b;
  background: none;
}
 /* navbar logout button */
nav .ul-menu li div a:hover {
  color: black;
  background: none;
}

/* hovering over images turn different color */
.whisk img:hover,
.about-img:hover,
.pot :hover {
  filter: invert(55%) sepia(100%) saturate(4090%) hue-rotate(337deg) brightness(100%) contrast(101%);
  background: none;
}

.logo img:hover{
  filter:invert(100%);
  background: none;
}

p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  border-radius: 10%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.col-2 p {
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
}
.col-2 h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 9px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.btn2 {
  display: inline-block;
  background: rgb(56, 187, 146);
  color: #fff;
  padding: 9px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn2:hover {
  background: #2c1f83;
}
.btn3 {
  display: inline-block;
  background: rgb(218, 164, 62);
  color: #fff;
  padding: 9px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn3:hover {
  background: #69322b;
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin-top: 70px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.col-3 h4 {
  font-size: 20px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.culture {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.drinks {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.food {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.title {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.titleRec {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.titleRec::after {
  content: "";
  background: #ff523b;
  width: 400px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.popular {
  margin-top: 0px;
  padding: 0;
  text-align: right;
}
small {
  color: #555;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.profile-page {
  height: 100v;
}

/* logout button on the navbar */
.logoutbutton {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 9px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 50s;
}

/*------------ media query for menu--------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .menu-icon {
    z-index: 1001;
    display: block;
  }

  nav {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background: #e3eca4;
    height: 100vh;
    top: 0;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .darkmode-navbar nav {
    background: rgb(113, 111, 111);;
  }

  nav .ul-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav .ul-menu li {
    display: block;
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid black;
  }
  nav .ul-menu li:hover {
    background-color: lightgoldenrodyellow;
    padding: 25px;
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  .darkmode-navbar nav .ul-menu li:hover {
    background-color: #555;
  }

  nav .ul-menu li a {
    font-size: 20px;
  }
  .menu-icon {
    position: absolute;
    right: 20px;
    top: 80px;
  }
  .navbar.active .menu-icon:hover {
    transform: rotate(180deg);
  }
  .navbar.active .menu-icon::before {
    color: #ff523b;
  }
  .navbar.active nav {
    right: 0;
  }

  .col-2 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}

/* fave recipes--------------------------------------------------------------------------------------  */
.whisk-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.pantry {
  text-align: center;
}
.savedRec {
  text-align: center;
}
.recipes {
  text-align: center;
}

/**darkmode styles ------------------------------------------------------------------------------**/
.darkmode-navbar {
  background-color: rgb(113, 111, 111);
}
.darkmode-nav .ul-menu li {
  color: rgb(255, 255, 255);
}
.darkmode-page {
  background-color: rgb(113, 111, 111);
}
.darkmode-nav .ul-menu li a {
  color:white;
}
/* here rgb(239, 154, 154) pinkish color */

.darkmode-nav .ul-menu li a:hover {
  color: #3dc6d3;
  background: none;
}


/* make headers white when dark-mode*/
.darkmode-page p {
  color: white;
}
.darkmode-page h1 {
  color: white;
}
.darkmode-page h2 {
  color: white;
}
.darkmode-page h4 {
  color: white;
}

.darkmode-page .recipe-card p {
  color:rgb(80, 80, 80);
}
/* makes pictures on navbar turn blue */
.darkmode-navbar .logo img {
  filter: invert(100%);
}
.darkmode-navbar .logo img:hover {
  filter: invert(0%);
}

.darkmode-page .btn{
  background: #3dc6d3;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  text-align: center;
}
.main-heading {
  /* color: #555; */
  font-size: 40px;
  margin-bottom: 9px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ff523b;
  font: "Playfair Display";
}
.main-heading2 {
  /* color: #555; */
  font-size: 16px;
  color: rgb(44, 5, 92);
}
.col-5 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-5 img {
  max-width: 100%;
  border-radius: 20%;
  padding: 30px 0;
}
.col-5 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.col-5 p {
  font-size: 1.5rem;
  font-weight: 500;
}
.col-5 h2 {
  font-size: 50px;
  line-height: 60px;
}
/* About Page Styles ---------------------------------------------------------------------------------- */
h1 {
  color: #563434;
  padding-right: 80px;
  /* padding-left: 80px; */
  font-size: 50px;
  color: #ff523b;
  font-family: "Playfair Display", serif;
}

.mission-statement {
  color: teal;
}
.tabs-quote {
  color: #2c1f83;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.tabs-quote2 {
  color: #2c1f83;
  font-family: "Playfair Display", serif;
}
.main-heading2{
  text-align: center;
  margin: 0 auto;
}

/**darkmode styles**/
.darkmode-navbar {
  background-color: rgb(113, 111, 111);
}
.darkmode-navbar .ul-menu li {
  color: rgb(255, 255, 255);
}

.darkmode-page {
  background-color: rgb(113, 111, 111);
}

.darkmode-navbar .ul-menu li a:hover {
  color: #3dc6d3;
  background: none;
}

/* make headers white when dark-mode*/
.darkmode-page p {
  color: white;
}
.darkmode-page h1 {
  color: white;
}
.darkmode-page h2 {
  color: white;
}
.darkmode-page h4 {
  color: white;
}
/* makes pictures on navbar turn blue */
.darkmode-navbar .logo img {
  filter: invert(100%);
}
.darkmode-navbar .logo img:hover {
  filter: invert(0%);
}

.darkmode-navbar .logoutbutton {
  background: #3dc6d3;
  color: #fff;
}

.darkmode-nav .ul-menu li div a:hover {
  color: white;
  background: none;
}

.darkmode .mission-statement {
  color: #563434;
  padding-right: 80px;
  /* padding-left: 80px; */
  font-size: 1.2rem;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.darkmode-nav .about-img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(45deg) brightness(106%) contrast(101%);
}


/* hovering over images turn different color */
.darkmode-nav .about-img:hover {
  filter: invert(78%) sepia(73%) saturate(1091%) hue-rotate(146deg) brightness(91%) contrast(81%);
}

.darkmode-page .mission-statement{
  color: #f6d8f7;
}

.darkmode-page .tabs-quote, .darkmode-page .tabs-quote2 {
  color: #3dc6d3;
}

.darkmode-page .main-heading2{
  color: #a6ffb8;
}