/* only make background color yellow to the home page */
@import url(https://fonts.cdnfonts.com/css/scope-one); /* scope one font for navbar*/

.Home {
  background-color: #e3eca4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  color:inherit;
  font-size: 25px;
  font-family: 'Scope One';
  font-weight: 'bold';
}

p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  border-radius: 10%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.col-2 p {
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
}
.col-2 h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 9px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin-top: 70px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.col-3 h4 {
  font-size: 20px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.culture {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.drinks {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.food {
  text-align: center;
  /* margin: 0 auto 10px; */
  position: relative;
  line-height: 60px;
  color: #555;
}
.title {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.titleRec {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.titleRec::after {
  content: "";
  background: #ff523b;
  width: 400px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.popular {
  margin-top: 0px;
  padding: 0;
  text-align: right;
}
small {
  color: #555;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*------------ media query for menu*/
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #ff523b;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

/* fave recipes */
.whisk-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.pantry {
  text-align: center;
}
.savedRec {
  text-align: center;
}
.recipes {
  text-align: center;
}

/**darkmode styles**/
.darkmode-navbar{
  background-color: rgb(113, 111, 111);
}
.darkmode-nav ul li {
  color:white;
}
.darkmode-page{
  background-color:  rgb(113, 111, 111);
}
.darkmode-nav ul li a {
  color: rgb(255, 255, 255);
}
/* make headers white when dark-mode*/
.darkmode-page p {
  color: white;
}
.darkmode-page h1 {
  color: white;
}
.darkmode-page h2 {
  color: white;
}
.darkmode-page h4 {
  color: white;
}
/* makes pictures on navbar turn white and blue */
.darkmode-navbar img {  
  filter: invert(100%);
}



