body {
  height:100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height:100%;
}
.react-app{
  height:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******toggle styles*****/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21f391;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* footer styles */
.footer {
  position: relative;
  width:100%;
  bottom: 0;
  /* subject to change for background color */
  background-color: #d4e4ea;
  padding: 40px;
}

.footer .pFooter{
  color: #000;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.footer .footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* spacing out each link */
  gap: 50px;
  color:rgb(255, 255, 255);
}
