/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.details{
  height: auto;


}

.details{
  height: 300vh;
} */

/* .RecipiesPage {

  display: flex;
  align-items: center;
  flex-direction: column;
}  */

/* section {
  margin: 2rem 0 1rem 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.h1R {
  text-align: center;
  margin-bottom: 2rem;
}

.missedIngredients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.recipes {
  display: flex;
}

/* img {
  width: 100%;
  margin-bottom: 1rem;
} */

/* article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

ul {
  list-style: none;
}

.Instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  width: fit-content;
  padding: 0.5rem 1rem;
}

a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .recipes {
    flex-direction: column;
    align-items: center;
  }

  .missedIngredients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}  */