.recipe-card a {
    color: #ff523b;
    font-size: inherit;
    font-weight: 500;
}

.recipe-card a:hover {
    background: none;
    font-weight: 700;
}

.darkmode-page-button {
    background-color: #3dc6d3;
}