:root {
  --color: rgba(
    152,
    149,
    149,
    0.519
  ); /* variable for login and sign up box background */
}

/**styles*/
.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  align-items: center;
}

.boxL {
  margin: 10px;
  height: 500px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: var(--color);
}

.right-section,
.left-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.right-section:hover,
.left-section:hover {
  width: 160%;
}

.right-section {
  background: url("../Images/pekan-dark.jpg") center center no-repeat;
  background-size: cover;
}

.left-section {
  background: url("../Images/food-dark.jpg") center center no-repeat;
  background-size: cover;
}

.boxL form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.boxL form input {
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-size: 17px;
  width: 20rem;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(35, 193, 75, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 15px;
}

.boxL form input::placeholder {
  color: rgb(255, 255, 255);
}

.boxL h1,
.boxL p,
.boxL h2 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.titleL {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

/* making changes to forgot password */
p.forget {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255);
  margin-top: -1rem;
  font-family: "Poppins", sans-serif;
}

h2.header2L {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 0rem;
  color: rgb(255, 255, 255);

  margin: auto;
  text-align: center;
}

.header2left {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0rem;
  color: white;
  margin-bottom: 0rem;
  margin: auto !important;
  text-align: center;
}

.header2right {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0rem;
  margin: auto !important;
  text-align: center;
}

.boxL .buttonL {
  width: 170px;
}

.boxL .buttonL:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* making page responsive to moblie phone and tablet*/
@media screen and (max-width: 1000px) {
  .login-page {
    flex-direction: column;
    height: 200vh;
  }
  .right-section:hover,
  .left-section:hover {
    width: 100%;
  }
  .boxL {
    width: 60%;
  }
  h2.header2L {
    font-size: 1.54rem;
  }
  .boxL form input {
    width: 16rem;
  }
}

@media screen and (max-width: 748px) {
  .login-page {
    flex-direction: column;
    height: 200vh;
  }
  .right-section:hover,
  .left-section:hover {
    width: 100%;
  }
  .boxL {
    width: 90%;
  }
  h2.header2L {
    font-size: 1.1rem;
  }
  .boxL form input {
    width: 16rem;
  }
}
