.forget-page {
  background-color: rgb(225, 234, 183);
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2.7rem;
  text-align:center;
}

p {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align:center;
}

input[type="email"] {
  height: 1.6rem;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding:15px;
}

button[type="submit"] {
  height: 1.6rem;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(230, 226, 249);
  color: rgb(0, 0, 0);

  font-size: medium;
  padding-left:10px;
  padding-right:10px;
  display:block;
  margin:auto;
  margin-top:10px;

}

a {
  color: rgb(14, 49, 106);
  font-size: 1.1rem;
}

p{
  margin-top: 1.2rem;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}
form{
    width:fit-content;
    padding:20px;
    margin:auto;
    
}
.forget{
    margin:30px;
}
