.forget-page {
  background-color: #e3eca4;
  height: 100vh;
}

h1.h1Forgot {
  color: rgb(0, 0, 0);
  font-size: 2.7rem;
  text-align:center;
}

p.pForgot {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align:center;
}

input[type="emailF"] {
  height: 1rem;
  width: 15rem;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 200px;
  padding:15px;
}

button[type="submit"] {
  height: 1.6rem;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: medium;
  padding-left:10px;
  padding-right:10px;
  display:block;
  margin:auto;
  margin-top:10px;
}

a {
  color: rgb(1, 50, 129);
  font-size: 1.13rem;
}


form{
    width:fit-content;
    padding:20px;
    margin:auto;   
}

.forget{
    margin:30px;
    font-size: 1.13rem;
}

/* add darkmode styles */
.darkmode-page {
  background-color: rgb(113, 111, 111);
  color: #ffffff;
}
/* make text white when it darkmode */
.darkmode-page h1 {
  color: #3dc6d3;
}
.darkmode-page p {
  color: #ffffff;
}
.darkmode-page .submitF {
  color: #000000;
  background-color: #3dc6d3;
}
